{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}




    {{blog.content}}
    <br>
    posted at:{{blog.posted}}
    <br>
    {% if rada %}
    {% for rada in rada%}

      <li>{{rada.comment}}</li>
    <a href="/commentdelete/{{rada.id}}">Delete comment</a>
    {% else %}
    no comments
    {% endif %}
    {% endfor %}


</div>
<div class="col-md-6">
{{wtf.quick_form(acha)}}

</div>




</div>
</div>

{% endblock%}