
{% extends 'base.html' %}

{% block content %}

   {{super () }}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
<body>
<div class="middle">

     {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}


<a href="/blogform" class="btn btn-success ">write new blog</a>
    <br>



      {% for neew in pitch %}
    <h3><a href="/blog/{{neew.id}}">{{neew.title}}</a></h3>
    <br>
           {{neew.content|truncate(40)}}<br>
    <a href="/blog/{{neew.id}}" class="badge progress-bar-primary ">read more</a>

     <li>Posted at:{{neew.posted}}</li>
    <br>

    <a href="/delete/{{neew.id}}"><span class="badge progress-bar-danger">Delete BlogPost</span></a>
    <br>

      {% endfor %}



</div>
<div><h3><B>{{qoute.quote}}</B></h3></div>
<br>

<div><h4>~{{qoute.author}}</h4></div>

<div class="newr">

    <a href="/subscribe"><button class="btn btn-warning">Subscribe here to  new blog notifications</button></a>
</div>


</body>





{% endblock %}

